ftfy
lxml
praw
geopy
arrow
psutil
Pillow
pyyaml
pymongo
aiohttp
watchdog
requests
markovify
cssselect
wikipedia
youtube_dl
wolframalpha
humanfriendly
wikitextparser
fuzzywuzzy[speedup]
https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py[voice]